name: CI for Linux

on:
    push:
        branches:
          - 'master'
    pull_request:
        branches:
          - 'master'

jobs:
  perl-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: perl -V
        run: perl -V
      - name: Install wxWidgets
        run: |
          sudo apt-get update 
          sudo apt-get install -y libwxgtk3.2-dev
          sudo apt-get install -y libwxgtk-webview3.2-dev
          sudo apt-get install -y libwxgtk-media3.2-dev
      - name: Install Dependencies
        run: |
          sudo apt-get install cpanminus
          cpanm --installdeps --notest .
      - name: Build Alien::wxWidgets
        run: |
          perl Build.PL --wxWidgets-build=0 --wxWidgets-version=3.2
          ./Build
          ./Build test
          sudo ./Build install
          

